em { font-style: normal;}

section>div { width: 1180px; min-height: 100%; margin: 0 auto; padding: 72px 0 65px;}
section>div>div { word-break: break-all; letter-spacing: -0.5px;}
section>div>div>h1 { padding-bottom: 36px; border-bottom: 4px solid #202020; color: #101010; font-weight: 700; font-size: 40px; line-height: 56px; color: #101010;}
section>div>div>div:nth-child(2) { margin-top: 40px; width: 100%;} 
section>div>div>div:nth-child(2)>ul { position: relative; width: 100%; font-size: 0;}
section>div>div>div:nth-child(2)>ul>li { display: inline-block; width: initial; text-align: center; vertical-align: top;}
section>div>div>div:nth-child(2)>ul>li>a { padding-left: 0; display: block; width: 100%; height: 100%; padding: 0 12px; white-space: nowrap;} 
section>div>div>div:nth-child(2)>ul>li:nth-child(1)>a>span { position: relative; z-index: 1; display: inline-block; height: 41px; color: #606060; font-weight: 500; font-size: 24px; line-height: 34px; vertical-align: top;}
section>div>div>div:nth-child(2)>ul>li:nth-child(2)>a>span { border-bottom: 3px solid #202020; color: #101010; font-weight: 700; position: relative; z-index: 1; display: inline-block; height: 41px; font-size: 24px; line-height: 34px; vertical-align: top;}
section>div>div>div:nth-child(2)>ul>li:nth-child(3)>a>span { position: relative; z-index: 1; display: inline-block; height: 41px; color: #606060; font-weight: 500; font-size: 24px; line-height: 34px; vertical-align: top;}
#art_table{width:1180px; margin: 0 auto;}
#art_table>table{ width:1180px;  border-collapse: collapse; margin: 0 auto; border-top: 2px solid black;text-align: center;}
#art_table table tr:first-child{ line-height: 20px;}

tr>td:nth-child(2){ text-align: left;}

th{ padding: 0 24px; font-size: 15px; background: #efefef; font-weight: 700;height: 40px;}

td{ border-bottom: 1px solid #606060; height: 40px;}

#pagination{ width:1180px ; height:96px; margin: 0 auto;}
#pagination>div{ width: 1180px; height: 30px; box-sizing: border-box;}
#pagination>div:nth-child(1)>button{ margin-top: 5px; float: right; width: 100px; height: 50px; font-size: 16px; background: #BDD61A; font-weight: 700; border: 1px solid #BDD61A; cursor: pointer;} 
#pagination>div:nth-child(2){ line-height: 40px; text-align: center; margin: 0 auto; width: 400px;}
#pagination>div:nth-child(2)>span{ margin: 20px;}

.page_box.board_page {
	margin: 40px auto 150px;
}


#board_search{ float: right; padding: 10px 0 10px 10px;}
#board_search td{border-bottom: none;}
#search_cat{height: 27px;}
#search_box{}
#search_button{ background: url('../images/btn_BoardSrch.png') no-repeat; width: 30px; height:28px; margin:0; vertical-align: middle; line-height: 24px; box-shadow: none;}
/* 게시글 */
#wrap{width: 100%; margin: 98px 0 0 0;}
#wrap>div:nth-child(1){width: 1250px;}
.cont{width: 1180px;margin:0 auto;padding: 0px;}
.list_table{ width: 1000px;  box-sizing: border-box; border-collapse: collapse;}
.list_table th{background: #f8f8f8; height: 30px; padding: 8px 0 3px 0; font-size: 13px; font-weight: bold;}
.list_table td{border-top: 1px solid #e1e1e1; padding: 8px 0; text-align: center;border-bottom: none;}
.list_table td:nth-child(2){text-align: left;}
.list_table thead{border-bottom: none;}
/*추가한 부분입니다*/
.logo_txt {padding-top: 1px;}
.logo_txt a{padding: 0 1px;}


/*페이지 넘버링*/


